@model IEnumerable<HeyTeam.Core.ReportDesign>
<h1>Report Card Designs</h1>
<h3>List</h3>
<div>
    <div class="btn-group" role="group" aria-label="...">
        <a href="#" class="btn btn-primary">Design New Report Card</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var design in Model)
            {
                <tr>
                    <td><a asp-area="Administration" asp-controller="Evaluations" asp-action="ReportDesigner" asp-route-reportDesignId="@design.Guid">@design.Name</a></td>                    
                    <td class='text-center'>
                        @*<div class='dropdown'>
                                <button class='btn btn-default dropdown-toggle btn-sm' type='button' id='dropdownMenu1' data-toggle='dropdown' aria- haspopup='true' aria-expanded='true'>
                                    <span class='caret'></span>
                                </button>
                                <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdownMenu1'>

                                </ul>
                            </div>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>