@model HeyTeam.Web.Models.DashboardViewModels.IndexViewModel
@{
    string @returnUrl = "returnurl=/";
}
<h1>Squads</h1>
@if(Model.Squads != null && Model.Squads.Count > 0)
{    
    <h3>List</h3>
    <div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" id="AddSquadButton" href="~/squads/new?@returnUrl">Add New Squad</a>
        
    </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Squad Name</th>
                    <th>Coach</th>
                    <th>#Players</th>
                    <th>Next Session</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var squad in Model.Squads)
                {
                    <tr>
                        <td><a asp-area="Administration" asp-controller="Squads" asp-action="Index" asp-route-squadId="@squad.Cells["squadid"]">@squad.Cells["squadname"]</a></td>
                        <td>@squad.Cells["coach"]</td>
                        <td>@squad.Cells["numberofplayers"]</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}