<h2>ResourceNotFound</h2>
<p>The resource you are looking for was not found. Please contact your administrator.</p>
<a href="#">Close this window</a>
<script>
    $("a").click(function () {
        window.close();
    });
</script>