@model IEnumerable<HeyTeam.Core.Member>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>Profile Selection</h1>
        <h3>Select a Profile</h3>
        <table class="table table-borderless">
            <tbody>
                @foreach (var item in Model)
            {
                <tr>                    
                    <td><a asp-area=@(item.Membership == HeyTeam.Core.Membership.Coach ? "Coaching" : "Membership") asp-controller="Home" asp-action="Index" asp-route-memberid="@item.Guid"> @($"{item.FirstName} {item.LastName}")</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Membership)</td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>