@{
    ViewData["Title"] = "Confirm email";
}


<div class="col-md-offset-4 col-md-4">
    <h2>@ViewData["Title"]</h2>
    <p>
        Thank you for confirming your email.
    </p>
    <p>
        <a asp-controller="Accounts" asp-action="Login">Click here to login</a>
    </p>
</div>
