@model IEnumerable<string>
@using HeyTeam.Util
<h2>Error Registering User</h2>
<p>There was an error creating your user account. Please contact your administrator.</p>
@if(Model.Any()) {
    @foreach (var error in Model) {
        @Html.Raw($"<p>{error}</p>") 
    }
}