<div class="row">
    <div class="col-md-offset-4 col-md-8">
        <h2>Thanks for Registering.</h2>
        <p>A activation email has been sent to your inbox.</p>
        <p>If you can't find it, please check your spam folder and mark it as non-spam.</p>
        <p>Activate your account by clicking on the link in the message body.</p>
        <p>
            <a asp-controller="Accounts" asp-action="Login">Back to Login</a>
        </p>
    </div>
</div>