<div class="row">
    <div class="col-md-offset-4 col-md-8">
        <h2>Thanks for Registering.</h2>
        <p>Your account has been created successfully</p>
        <p>
            <a asp-controller="Accounts" asp-action="Login">Back to Login</a>
        </p>
    </div>
</div>