@model HeyTeam.Web.Models.SquadViewModels.SquadViewModel
<h1>@ViewData["Title"]</h1>
<div id="AddSquadDialog" id="myModal" tabindex="-1" role="dialog">
    <div class="col-md-6">
        <form method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="SquadName">Squad Name</label>
                <input asp-for="SquadName" class="form-control" placeholder="enter squad name" autofocus maxlength="100"/>
                <!-- <span asp-validation-for="SquadName" class="text-danger"></span> -->
                <div class="modal-footer">
                    <a class="btn btn-default" href='@ViewData["ReturnUrl"]'>Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}