@model HeyTeam.Web.Models.Assignments.AssignmentDetailsViewModel
<h1>New Assignment</h1>
<h3>Details</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="New">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Assignment Notes</label>
                <textarea asp-for="Notes" class="form-control" required rows="5"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDue" class="control-label">Date Due</label>
                <input type="date" asp-for="DateDue" class="form-control" style="width:200px" />
            </div>
            <div class="form-group">
                <label asp-for="Squads" class="control-label"></label>
                <select asp-for="Squads" class="form-control" multiple asp-items="Model.SquadList"></select>
                <span asp-validation-for="Squads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Players" class="control-label"></label>
                <select asp-for="Players" class="form-control" multiple></select>
                <span asp-validation-for="Players" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingMaterials" class="control-label"></label>
                <select asp-for="TrainingMaterials" class="form-control" multiple></select>
                <span asp-validation-for="TrainingMaterials" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <a asp-action="Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script>
        $('#Squads').select2({    
            placeholder: 'select squads...'
        });
        $('#Players').select2({
            ajax: {
                url: '/api/players?',
                data: function (params) {
                    var query = { q: params.term };
                    return query;
                },
                processResults: function (data) { return { results: data }; }
            },
            minimumInputLength: 1,
            placeholder: 'select players...'
        });

        $('#TrainingMaterials').select2({
            ajax: {
                url: '/administration/api/library?',
                data: function (params) {
                    var query = {
                        q:params.term,
                        page: 1
                    };
                    return query;
                },
                processResults: function (data) {return {results: data};}
            },
            minimumInputLength: 1,
            placeholder: 'select training materials...',
            templateResult: resultStyles,
            templateSelection: resultStyles
        });

        function resultStyles(selection) {
            if (!selection.id) { return selection.text; }
            var thumbnail = selection.thumbnail;
            if (!thumbnail) {
                return selection.text;
            } else {
                var $selection = $(
                    '<div class="media" style="margin-top:0; padding-bottom:5px">' +
                    '<div class="media-left"><img class="media-object" style="max-height:40px;" src="' + thumbnail + '" alt=""></div>' +
                    '<div class="media-body"><div class="img-changer-text">' + selection.text + '</div>(' + selection.contentType + ')</div >' +
                    '</div>'
                );
                return $selection;
            }
        }
    </script>
}

@section CSS {
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
}