@model HeyTeam.Web.Models.Assignments.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Assignments</h2>
<h3>List</h3>
<div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" asp-controller="Assignments" asp-area="Administration" asp-action="New">Add New Assignment</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-bottom:15px;">
        <div class="form-inline">
            <div class="form-group">
                <label for="month">Month Assigned:</label>
                <input id="month" type="month" class="form-control" value=@($"{DateTime.Now.Year}-{(DateTime.Now.Month < 10 ? "0" : "")}{DateTime.Now.Month}")>
            </div>
            <div class="form-group">
                <label for="squads" class="control-label">Squads:</label>
                <select id="squads" name="squads" asp-items="Model.Squads" class="form-control"></select>
            </div>
        </div>
    </div>
</div>

<div id="message" style="display:none"></div>
<div class="assignments"></div>
@section Scripts {
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script>
        var tablehtml = '<div class="table-responsive">' +
                            '<table class="table table-bordered table-hover">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th colspan="3" class="heading-title"><h4 class="assignmentTitle"></h4></th>' +
                                        '<th colspan="2" class="heading-buttons text-right"></th>' +
                                    '</tr>' +
                                    '<tr>' +                                        
                                        '<th class="col-md-2">Assigned To</th>' +
                                        '<th class="col-md-2">Assigned By</th>' +
                                        '<th class="col-md-2">Assigned On</th>' +
                                        '<th class="col-md-2">Due Date</th>' +
                                        '<th class="col-md-1">Actions</th>' +
                                    '</tr>' +
                                '</thead>' +
                            '<tbody></tbody>' +
                        '</table>' +
            '</div>';        

        $("#squads").select2();
        $("#squads").change(updateTable);
        $("#month").change(updateTable);        
        
        function updateTable() {
            var date = $('#month').val().split('-');
            $(".assignments").empty();
            $("#message").text("Fetching data, please wait...");
            $("#message").show();

            var date = $('#month').val().split('-');
            var apiUrl = "/api/assignments?month=" + date[1] + "&year=" + date[0];
            if ($('#squads').val().length > 0) {
                apiUrl = apiUrl + "&squads=" + $('#squads').val();
            }

            console.log("calling ajax...");
            $.ajax({
                method: "GET",
                url: apiUrl
            }).done(function (data) {
                console.log("ajax done...");
                if (data.length > 0) {
                    addRows(data);
                    $(".assignments").show();
                    $("#message").hide();
                } else {
                    $(".assignments").hide();
                    $("#message").show();
                    $("#message").text("No records found");
                }
                }).fail(function (jqXHR, textStatus, errorThrown) { 
                    console.log("ajax failed...");
                }).always(function () { 
                    console.log("ajax completed...");
                    bindEvents();
                });
        }

        function bindEvents() {
            $('.table-responsive').unbind();
            $("button.assignAgain").unbind();

            $('.table-responsive').on('show.bs.dropdown', function () {
                $('.table-responsive').css("overflow", "inherit");
            });

            $('.table-responsive').on('hide.bs.dropdown', function () {
                $('.table-responsive').css("overflow", "auto");
            })

            $("button.assignAgain").click(function () {
                console.log("assigning again...");
            });

            $(".assignmentTitle").tooltip("destroy");
            $(".assignmentTitle").tooltip({ placement: "auto right", trigger: 'hover' });

        }

        function addRows(data) {            
            for (var index in data) {
                var record = data[index];
                var table = $(tablehtml);
                var tableBody = table.find("tbody");
                var headerTitle = table.find("th.heading-title");
                var headerButtons = table.find("th.heading-buttons");

                headerTitle.find("h4").text(record.title);
                headerTitle.find("h4").attr("title", record.instructions);
                headerTitle.append("<span class='small'> created by " + record.createdby + " on " + record.createdOn + "</span>");                
                headerTitle.data("assignmentid", record.assignmentId);

                headerButtons.append("<button type='button' class='btn btn-link editAssignment' title='Edit this assignment'><span class='glyphicon glyphicon-pencil'></span></button>");
                headerButtons.append("<button type='button' class='btn btn-link deleteAssignment' title='Assign to new player'><span class='glyphicon glyphicon-plus'></span></button>");
                headerButtons.append("<button type='button' class='btn btn-link deleteAssignment' title='Delete this assignment'><span class='glyphicon glyphicon-remove text-danger'></span></button>");                

                var allocations = record.allocations;
                if (allocations != null && allocations.length > 0) {
                    for (var j in allocations) {
                        var allocation = allocations[j];
                        var row = "<tr>" +
                            "<td><a href='#'>" + allocation.playerName + "</a></td>" +                            
                            "<td>" + allocation.assignedBy + "</td>" +
                            "<td>" + allocation.assignedOn + "</td>" +
                            "<td>" + (allocation.dueDate == null ? "" : allocation.dueDate) + "</td>" +
                            "<td class='text-center'><div class='dropdown'>" +
                            "<button class='btn btn-default dropdown-toggle btn-sm' type='button' id='dropdownMenu1' data-toggle='dropdown' aria- haspopup='true' aria-expanded='true' >" +
                            "<span class='caret'></span>" +
                            "</button>" +
                            "<ul class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdownMenu1'>" +
                            "<li><button class='btn btn-link modifyDueDate'>Change Due Date</li>" +
                            "<li><button class='btn btn-link unassignPlayer'>Remove Player</li>" +
                            "</ul>" +
                            "</td>" +
                            "</tr>";
                        tableBody.append(row);
                    }
                    $(".assignments").append(table)
                }                
            }
        }

        updateTable();
    </script>
}

@section CSS {
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .assignmentTitle {
            display: inline;
        }

        .table-bordered > thead > tr:nth-child(1) > th {
            border: 0;
            background-color:rgb(245,245,245);
        }
    </style>
}