@model HeyTeam.Web.Models.EventsViewModels.EventViewModel
<h1>@($"{Model.Title}")</h1>
<h3>Event Details</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="EventId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Squads" class="control-label"></label>
                <select asp-for="Squads" class="form-control" multiple asp-items="Model.SquadList" required>
                </select>
                <span asp-validation-for="Squads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingMaterials" class="control-label"></label>
                <select id="TrainingMaterials" name="TrainingMaterials" class="form-control" multiple></select>
                <span asp-validation-for="TrainingMaterials" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <a asp-action="Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script>
       
       $('#Squads').select2();

        var selectedTrainingMaterials = @Html.Raw(Model.SelectedTrainingMaterialList);
        var trainingMaterialDropdown = $('#TrainingMaterials').select2({
            ajax: {
                url: '/api/library?',
                data: function (params) {
                    var query = {
                        q: params.term,
                        page: 1
                    };
                    return query;
                },
                processResults: function (data) { return { results: data }; }
            },
            data: selectedTrainingMaterials,
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            placeholder: 'select...',
            templateResult: resultStyles,
            templateSelection: resultStyles
        });

        function resultStyles(selection) {
            if (selection.id) {
                var thumbnail = selection.thumbnail;
                if (!thumbnail) {
                    return selection.text;
                } else {
                    var $selection = formatMaterialPresentation(thumbnail, selection.text, selection.contentType);
                    return $($selection);
                }
            }
        }

        function formatMaterialPresentation(thumbnail, text, contentType) {
            return '<div class="media" style="margin-top:0; padding-bottom:5px">' +
                '<div class="media-left"><img class="media-object" style="max-height:40px;" src="' + thumbnail + '" alt=""></div>' +
                '<div class="media-body"><div class="img-changer-text">' + text + '</div>(' + contentType + ')</div >' +
                '</div>';
        }

        if (selectedTrainingMaterials && selectedTrainingMaterials.length > 0) {
            for (var i in selectedTrainingMaterials) {
                $("#TrainingMaterials option[value='" + selectedTrainingMaterials[i].id + "']").prop("selected", true);
                //trainingMaterialDropdown.val(selectedTrainingMaterials[i].id);
            }            
            trainingMaterialDropdown.trigger("change");
        }
    </script>
}

@section CSS {
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
}