@model HeyTeam.Web.Models.EventsViewModels.GameReportViewModel

@{
    ViewData["Title"] = "NewReport";
}

<h2>Game Report</h2>
<h3>Event</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="NewReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opponent" class="control-label"></label>
                <input asp-for="Opponent" class="form-control" />
                <span asp-validation-for="Opponent" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="GoalsScored" class="control-label">Goals</label>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Scored</span>
                                <input type="number" id="income" class="form-control" placeholder="0" style="width:60px" min="0" max="10">
                            </div>
                        </div>
                        vs
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" id="mortgagepayment" class="form-control" style="width:60px" placeholder="0" min="0" max="10"> <span class="input-group-addon">Conceeded</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            //$('#Squads').select2();
        });
    </script>
}

@section CSS {
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
}