
@{
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>
<h3>List</h3>
<div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" asp-action="NewReport">Send Report</a>
    </div>
</div>