@model HeyTeam.Web.Models.EventsViewModels.MatchReportViewModel

<h2>@Model.EventTitle</h2>
<h3>Match Report</h3>
<h4><small>@Html.Raw(Model.EventDetails)</small></h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Report">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opponent" class="control-label"></label>
                <input asp-for="Opponent" class="form-control" disabled/>
                <span asp-validation-for="Opponent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsScored" class="control-label">Score</label>
                <div class="form-inline text-center">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Our Team</span>
                                <input type="number" asp-for="GoalsScored" class="form-control" placeholder="0" style="width:60px" min="0" max="10" disabled>
                            </div>
                        </div>
                        vs
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" asp-for="GoalsConceeded" class="form-control" style="width:60px" placeholder="0" min="0" max="10" disabled> <span class="input-group-addon">Opponent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Scorers" class="control-label"></label>
                <textarea asp-for="Scorers" class="form-control" rows="3" disabled></textarea>
                <span asp-validation-for="Scorers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachsRemarks" class="control-label"></label>
                <textarea asp-for="CoachsRemarks" class="form-control" rows="3" disabled></textarea>
                <span asp-validation-for="CoachsRemarks" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <a id="cancelButton" class="btn btn-default hidden">Cancel</a>
                <input id="submitButton" type="submit" value="Submit" class="btn btn-primary hidden" />

                <a id="backToListButton" asp-area="Administration" asp-controller="Events" asp-action="Index" class="btn btn-default">Back To List</a>
                <button type="button" id="editButton" class="btn btn-default">Edit</button>
                <button type="button" id="emailButton" class="btn btn-primary hidden"><span class="glyphicon glyphicon-envelope"></span> Email</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="emailModalWindow" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form method="post" id="emailForm">
                <input type="hidden" id="eventId" name="eventId" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Report</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="sendEmailButton" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var reportExists = @Model.ReportExists.ToString().ToLowerInvariant();
        toggleEmailButton();

        $("#editButton, #cancelButton").click(function () {
            $("#editButton, #backToListButton, #cancelButton, #submitButton").toggleClass("hidden");
            var disabled = $("#Opponent").prop("disabled");
            $("input, textarea").prop("disabled", !disabled);
            toggleEmailButton();            
        });

        function toggleEmailButton() {
            if (reportExists)
                $("#emailButton").toggleClass("hidden");
        }
        
        $('#emailButton').on('click', function (e) {
            e.preventDefault();
            var id = $(this).closest('tr').data('id');
            $('#emailModalWindow').data('id', id).modal('show');
        });

        $('#sendEmailButton').click(function () {
            var id = $('#emailModalWindow').data('id');
            $("#eventId").val(id);
            $('#emailModalWindow').modal('hide');
        });
    </script>
}

@section CSS {
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
}