@model HeyTeam.Web.Models.CoachViewModels.AssignCoachViewModel
<h1>@($"{Model.SquadName} Squad")</h1>
<h3>Assign a Different Coach</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Coach" method="post">
            <input type="hidden" asp-for = "SquadId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control" placeholder="Select a new coach" asp-for="SelectedCoach" asp-items="Model.Coaches">
                        <option value="" disabled="disabled" selected="selected">Select a new coach</option>
                    </select>                   
                    <span class="input-group-btn">
                        <a asp-area="Administration" asp-controller="Coaches" asp-action="new" asp-route-returnurl="/administration/squads/@Model.SquadId/coach" class="btn btn-default" title="Add a New Coach to the List"><span class="glyphicon glyphicon-plus"></span> </a>
                    </span>                    
                </div>
                <span asp-validation-for="SelectedCoach" class="text-danger"></span>
            </div>

            <div class="modal-footer">
                <a asp-action="Index" asp-route-squadid="@Model.SquadId" class="btn btn-default">Cancel</a>
                <input type="submit" value="Assign Selected Coach" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
