<h1>My Forthcoming Events</h1>

<p>Show a list of events with filters:</p>
<ul>
    <li>forthcoming</li>
    <li>evaluated</li>
    <li>evaluation pending</li>
</ul>
<p>create layout page for membership area</p>
<ul>
    <li>every player should only see his own evaluations</li>
    <li>coach and admin should see all evaluations</li>
</ul>