@model HeyTeam.Web.Models.FeedbackViewModels.PlayerFeedbackViewModel

<h1>Feedback</h1>
<h3>List</h3>
<div class="row">
    <div class="col-md-12" style="margin-bottom:15px;">
        <div class="form-inline">
            <div class="form-group">
                <label for="month">Month:</label>
                <input id="datePicker" type="month" class="form-control" value="@DateTime.Today.ToString("yyyy-MM")">
            </div>
        </div>
    </div>
</div>

<div id="message" style="display:none"></div>
<div class="table-responsive">
    <table id="feedbackTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Published On</th>
                <th class="col-md-9">Latest Comment</th>                
                <th class="col-md-1 text-center">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="publishDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="publishForm">
                <input type="hidden" id="eventId" name="eventId" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Publish Feedback</h4>
                </div>
                <div class="modal-body">
                    <p class="feedbackPublishMessage"></p>
                    <div class="content table-responsive">
                        <textarea id="feedbackText" name="feedbackText" class="form-control" placeholder="provide some feedback..." required rows="5" onKeyUp="if(this.textLength != 0) {confirmPublishButton.disabled = false} else {confirmPublishButton.disabled = true}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" id="confirmPublishButton" name="confirmPublishButton" class="btn btn-primary" value="Publish" disabled />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function initialize() {
            $("#datePicker").change(function (e) {
                getFeedback();
            });            

            getFeedback();
        }

        function displayMessage(message) {
            $("#message").text(message);
            $("#message").show();
            $("div.table-responsive").hide();
        }

        function hideMessage() {
            $("#message").empty();
            $("#message").hide();
        }

        function getFeedback() {
            var date = $("#datePicker").val();

            if (date != null && date != "") {
                displayMessage("Fetching data, please wait...");
                var selectedDate = date.split("-");
                $.ajax({
                    method: "GET",
                    url: "/api/players/" + "@Model.PlayerId" + "/feedback?month=" + selectedDate[1] + "&year=" + selectedDate[0]
                }).done(function (data) {
                    updateTable(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    displayMessage("There was an error fetching the data from the server. (" + jqXHR.responseText + " " + errorThrown + " )");
                });
            } else {
                displayMessage("Select a date to start");
            }
        }

        function updateTable(data) {
            if (data == null || data.length == 0) {
                displayMessage("No record found");
            } else {
                hideMessage();
                var table = $("#feedbackTable");
                var tableBody = table.find("tbody");
                tableBody.empty();

                for (var index in data) {
                    var record = data[index];
                    var row = "<tr data-feedbackid='" + (record.guid == null ? "" : record.guid) + "' data-playerid='" + record.player.guid + "'>";                                                  
                    row += "<td>" + record.formmattedPublishedDate + "</td>";
                    row += "<td>" + (record.latestComment == null ? "" : record.latestComment) + "</td>";
                    row += "<td class='text-center'>" + (record.guid == null ? "<a href='#' class='publishButton'>publish</a>" : "<a href='feedback/" + record.guid + "' class='followUpButton' target='__blank'>follow up</a>") + "</td>";
                    row += "</tr>";
                    tableBody.append(row);
                }
                $("div.table-responsive").show();
            }
        }

        initialize();
    </script>
}