@model HeyTeam.Web.Models.DashboardModel
<h1>Dashboard</h1>
<h3>Upcoming Events</h3>
<div id="eventsMessage"></div>
<div class="table-responsive" id="eventsTable">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Squads</th>
                <th>Starts</th>
                <th>Ends</th>
                <th>Location</th>
                <th>Docs</th>
            </tr>
        </thead>
        <tbody id="eventsTableBody"></tbody>
    </table>
</div>

<h3>Latest Feedback</h3>
<div id="feedbackMessage"></div>
<div class="table-responsive" id="feedbackTable">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-3">Player</th>
                <th>Latest Comments</th>
                <th class="col-md-2 text-center">Date</th>
            </tr>
        </thead>
        <tbody id="feedbackTableBody"></tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        var eventsMessageProgress = $("#eventsMessage");
        var eventsTable = $("#eventsTable");
        var eventsTableBody = $("#eventsTableBody");

        var feedbackMessageProgress = $("#feedbackMessage");
        var feedbackTable = $("#feedbackTable");
        var feedbackTableBody = $("#feedbackTableBody");

        var apiRoot = "/api/@Model.MembershipArea/@Model.MemberId" + "/";

        function getUpcomingEvents() {
            eventsMessageProgress.text("Loading events, please wait...").show();
            eventsTable.hide();
            eventsTableBody.empty();

            $.ajax({
                method: "GET",
                url: apiRoot + "upcoming-events"
            }).done(function (data) {
                eventsMessageProgress.empty().hide();
                displayEvents(data);
            }).fail(function (xhr, textStatus, error) {
                eventsMessageProgress.text("Error - Could not retrieve upcoming events");
            })
        }

        function displayEvents(events) {
            if (events != null && events.length > 0) {
                for (var index in events) {
                    var entry = events[index];
                    //console.log(entry);
                    var row = "<tr data-id='" + entry.eventId + "'>";
                    row = row + "<td><a href='events/" + entry.eventId + "' target='__blank'><span class='label label-default'>" + entry.eventTypeDescription + "</span><br/>" + entry.title + "</a></td>";
                    row = row + "<td>" + entry.squads + "</td>";
                    row = row + "<td>" + entry.formattedStartDate + "</td>";
                    row = row + "<td>" + entry.formattedEndDate + "</td>";
                    row = row + "<td>" + entry.location + "</td>";
                    row = row + "<td class='text-center'>" + entry.trainingMaterialsCount + "</td></tr>";
                    eventsTableBody.append(row);
                }
                eventsTable.append("<p><a href='events'>View more events</a></p>");
                eventsTable.show();
            } else {
                eventsMessageProgress.text("No events found").show();
            }
        }

        function getlatestFeedback() {
            feedbackMessageProgress.text("Loading feedback, please wait...").show();
            feedbackTable.hide();
            feedbackTableBody.empty();

            $.ajax({
                method: "GET",
                url: apiRoot + "latest-feedback"
            }).done(function (data) {
                feedbackMessageProgress.empty().hide();
                displayFeedback(data);
            }).fail(function (xhr, textStatus, error) {
                feedbackMessageProgress.text("Error - Could not retrieve latest feedback");
            })
        }

        function displayFeedback(feedback) {            
            if (feedback != null && feedback.length > 0) {
                for (var index in feedback) {
                    var record = feedback[index];
                    var row = "<tr data-feedbackid='" + (record.guid == null ? "" : record.guid) + "' data-playerid='" + record.player.guid + "'>";
                    row += "<td><a href='feedback/" + record.guid + "' target='__blank'>" + record.player.name + "</a></td>";                   
                    row += "<td>" + (record.latestComment == null ? "" : record.latestComment) + "</td>";
                    row += "<td class='text-center'>" + record.formmattedPublishedDate + "</td>";                    
                    row += "</tr>";
                    feedbackTableBody.append(row);
                }
                feedbackTable.append("<p><a href='feedback'>View more feedback</a></p>");
                feedbackTable.show();
            }            
        }

        getUpcomingEvents();
        getlatestFeedback()
    </script>
}