body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-group {
    margin-bottom: 10px;
}

.btn-group > btn {
    margin-right:10px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

h3 {
    border-bottom: solid 1px rgb(230,230,230);
    padding-bottom:3px;
}

h3,
h4 {
    color: rgb(150, 150, 150);
    padding-bottom: 5px;
    /* border-bottom: solid 1px rgb(220, 220, 220); */
}


/* QR code generator */

#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}