body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-group {
    margin-bottom: 10px;
}

.btn-group > .btn {
    margin-right:10px;
    border-radius:5px !important;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

h3 {
    border-bottom: solid 1px rgb(230,230,230);
    padding-bottom:3px;
}

h3,
h4 {
    color: rgb(150, 150, 150);
    padding-bottom: 5px;
    /* border-bottom: solid 1px rgb(220, 220, 220); */
}


/* QR code generator */

#qrCode {
    margin: 15px;
}

.table-borderless tbody>tr>td{
    border: none;
}

.borderless{
    border:none;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.navbar-default {
    background-color: rgb(8, 89, 176);
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: #f2f2f2;
    font-size: 14px;
    transition: 0.4s;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f2f2f2;
    text-decoration: underline;
    transition: 0.1s;
}

.navbar-brand > img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 65px;
    position: relative;
    top: -10px;
}

.score-board {
    font-weight: 700;
    font-size: 2em;
    color: rgb(34, 66, 16);
}


/***tooltips*/
.tooltip-arrow,
.default-tooltip + .tooltip > .tooltip-inner {
    font-size: 1.15em;
    text-align: justify;
    max-width: 300px;
    background-color: rgb(75,75,75);
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.text-muted {
    color: rgb(210,210,210);
}


@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}